@charset "UTF-8";
body {
    background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 1.2s ease;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.login-box {
    background: #ffffff11;
    padding: 40px;
    border-radius: 15px;
    width: 320px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 20px #00000055;
    text-align: center;
    animation: slide 0.8s ease;
}

@keyframes slide {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0px); opacity: 1; }
}

.login-box h2 {
    margin: 0 0 10px 0;
    color: #fff;
}

.login-box p {
    color: #ddd;
    margin-bottom: 20px;
}

label {
    color: #fff;
    float: left;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #0ea5e9;
}

.error {
    color: #ff4444;
    margin-top: 10px;
}


.show-box {
	margin-left: 170px;
}

